{#
/**
 * @file
 * Theme implementation for a container used to wrap child elements.
 *
 * This container template gets extended by containers that should not have a
 * wrapper.
 */
#}
{{ children }}
