{#
/**
 * @file
 * Theme implementation for a fieldset element.
 *
 * Available variables:
 * - attributes: HTML attributes for the fieldset element.
 * - errors: (optional) Any errors for this fieldset element, may not be set.
 * - required: Boolean indicating whether the fieldset element is required.
 * - legend: The legend element containing the following properties:
 *   - title: Title of the fieldset, intended for use as the text of the legend.
 *   - attributes: HTML attributes to apply to the legend.
 * - description: The description element containing the following properties:
 *   - content: The description content of the fieldset.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the fieldset.
 * - prefix: The content to add before the fieldset children.
 * - suffix: The content to add after the fieldset children.
 *
 * @see template_preprocess_fieldset()
 */
#}
{% if type == 'fieldset' %}
  {% set modifier_classes = [
    'c-fieldset--default',
  ]|join(' ')|trim %}
{% else %}
  {% set remove_classes = [
    'fieldgroup',
    'form-composite',
  ] %}
  {% set modifier_classes = [
    'c-fieldset--' ~ type|clean_class,
  ]|join(' ')|trim %}
{% endif %}

{% include '@components/fieldset/fieldset.twig' with {
  'attributes': attributes.removeClass(remove_classes),
  'modifier_classes': modifier_classes,
} %}
