{#
/**
 * @file
 * Theme implementation to display a paragraph.
 */
#}
{% include '@components/accordion/accordion-item.twig' with {
  'attributes': attributes,
  'modifier_classes': '',
  'title_element': 'h3',
  'title': content.field_accordion_heading|field_value is not empty ? content.field_accordion_heading|field_value : false,
  'content': content.field_accordion_body|field_value is not empty ? content.field_accordion_body|field_value : false,
} %}

{% set catch_cache = content|without('field_accordion_heading', 'field_accordion_body')|render %}
