{#
/**
 * @file
 * Theme implementation to display a paragraph.
 */
#}
{% include '@components/wysiwyg/wysiwyg.twig' with {
  'attributes': attributes,
  'modifier_classes': '',
  'content': content.field_wysiwyg|field_value is not empty ? content.field_wysiwyg|field_value : false,
}%}

{% set cache_catch = content|without('field_wysiwyg')|render %}
