{% set classes = [
  'c-button-group',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<{{ element ?: 'div' }}
  class="{{ classes }}"
  {%- if element != 'nav' %} role="group"{% endif %}
  aria-label="{{ heading -}}
">
  <ul class="c-button-group__list">
    {{ button_group_items }}
  </ul>
</{{ element ?: 'div' }}>
