{#
/**
 * @file
 * Theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
{% include '@components/view/views-view-list/views-view-list.twig' with {
  'attributes': attributes,
  'title': title,
  'title_element': 'h3',
  'hide_wrapper': attributes is empty,
  'element': 'div',
  'has_default_class': default_row_class,
  'rows': rows,
} %}
