{% include '@templates/template-parts/messages-and-tabs/messages-and-tabs.twig' with {
  'is_published': is_published,
  'show_admin_info': show_admin_info,
  'admin_info': admin_info,
} %}

{{ title_prefix }}
{% include '@components/page-title/page-title.twig' with {
  'page_title': page_title,
} %}
{{ title_suffix }}

{% include '@layouts/section/section.twig' with {
  'section_title': false,
  'section_content': content,
} %}
