{#
/**
 * @file
 * Theme implementation for a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{% set admin_info %}
  {{ region_status }}
{% endset %}

{% set show_admin_info = false %}

{% if admin_info|striptags('<drupal-render-placeholder>')|trim %}
  {% set show_admin_info = true %}
{% endif %}

{% include '@templates/page/page.twig' with {
  'attributes': attributes,
  'is_published': term.status.value,
  'title': term_name,
  'show_admin_info': show_admin_info,
  'admin_info': admin_info,
  'show_footer': false,
  'content': content,
} %}

{# Uncomment the following if you don’t render the content variable. #}
{# {% set catch_cache = content|render %} #}
