// HTML Element: List Item

@use '00-config' as *;

li {
  margin-block-end: rem(gesso-spacing(1));

  &:last-child {
    margin-block-end: 0;
  }

  @media print {
    page-break-inside: avoid;
  }
}
