// Storybook: Typographic Scale

@use '00-config' as *;

.gesso-storybook-typographic-scale {
  margin-block: 0 3rem;
  margin-inline: 0;
}

.gesso-storybook-typographic-scale__heading {
  font-family: gesso-font-family(system);
  font-size: 1.25rem;
  line-height: 1.25;
  margin-block-end: 1rem;
}

.gesso-storybook-typographic-scale__row {
  align-items: center;
  display: flex;
  gap: 1rem;
  line-height: gesso-line-height(short);
  margin: 1rem 0;
}

.gesso-storybook-typographic-scale__label {
  font-family: gesso-font-family(system);
  font-weight: bold;
}

.gesso-storybook-typographic-scale__preview {
  // stylelint-disable-next-line
  -webkit-marquee-increment: 0vw; // Needed to get clamp() to work in Safari.
}
