{#
/**
 * @file
 * Theme implementation for a facets result item.
 *
 * Available variables:
 * - value: The item value.
 * - raw_value: The raw item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 * - is_active: The item is active.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 */
#}
{% include '@components/facet/facet.twig' with {
  'attributes': attributes,
  'is_active': is_active,
  'title': value,
  'show_count': show_count,
  'count': count,
  'hide_link': true,
} %}
