{#
/**
 * @file
 * Theme implementation to display a menu.
 */
#}
{# Uncomment the menu pattern you want to use. #}

{# Dropdown Menu #}
{% include '@components/dropdown-menu/dropdown-menu.twig' %}

{# Mega Menu #}
{#{% include '@components/mega-menu/mega-menu.twig' %}#}

{# Overlay Menu #}
{#{% include '@components/overlay-menu/overlay-menu.twig' %}#}

{# Side Menu #}
{#{% include '@components/side-menu/side-menu.twig' %}#}
