{% set classes = [
  'l-nav',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set title_classes = [
  title_modifier_classes ? title_modifier_classes : '',
  hide_title ? 'u-visually-hidden' : '',
]|join(' ')|trim %}

{% set nav_id = nav_id|clean_unique_id %}

<nav {{ add_attributes({
  'class': classes,
  'role': 'navigation',
  'aria-labelledby': nav_id,
}) }}>
  <{{ title_element ?: 'h2' }}
    {{ add_attributes(
      {
        'id': nav_id,
        'class': title_classes,
      },
      'title_attributes')
    }}>{{ title }}</{{ title_element ?: 'h2' }}>
  {% block content %}
    {{ nav_content }}
  {% endblock %}
</nav>
