{#
/**
 * @file
 * Theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% extends "block--admin.html.twig" %}

{% block block_content %}
  {% if site_logo %}
    {% include '@components/site-logo/site-logo.twig' with {
      'attributes': '',
      'url': path('<front>'),
      'site_logo': site_logo,
    } %}
  {% endif %}

  {% if site_name %}
    {% include '@components/site-name/site-name.twig' with {
      'attributes': '',
      'url': path('<front>'),
      'site_name': site_name,
    } %}
  {% endif %}

  {% if site_slogan %}
    {% include '@components/site-slogan/site-slogan.twig' with {
      'attributes': '',
      'site_slogan': site_slogan,
    } %}
  {% endif %}
{% endblock %}
