{#
/**
 * @file
 * Theme implementation for a field.
 */
#}
{% for item in items %}
  {% include '@components/video/video.twig' with {
    'attributes': item.attributes,
    'files': item.content['#files'],
  } %}
{% endfor %}
