{#
/**
 * @file
 * Theme implementation for a field.
 *
 * This field template gets extended by fields that should display as a tight
 * field.
 */
#}
{% extends "field.html.twig" %}

{% set attributes = attributes.addClass('c-field--tight') %}
