// Component: Filters

@use '00-config' as *;

.c-filters {
  margin-block-end: rem(gesso-spacing(2));
}

.c-filters__list {
  @include list-clean();
  display: inline-flex;
  flex-wrap: wrap;
  gap: rem(gesso-spacing(1.5));
  margin-block: 0 rem(gesso-spacing(1));
  margin-inline: 0 rem(gesso-spacing(2));
}

.c-filters__item {
  margin: 0;
}

.c-filters__remove {
  @include responsive-font-size(2);
  display: inline-block;
}
