{{ attach_library('gesso/rss_feed') }}

{% set classes = [
  'c-rss-feed',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% include '@components/icon-link/icon-link.twig' with {
  'attributes': attributes,
  'modifier_classes': classes,
  'url': url,
  'link_text': link_text,
  'icon_name': 'rss',
  'icon_direction': '',
  'icon_position': 'before',
} %}
