// HTML Element: Paragraph

@use '00-config' as *;

p {
  margin-block: 0 rem(gesso-spacing(2));
  margin-inline: 0;

  @media print {
    orphans: 3;
    widows: 3;
  }

  // Hide empty paragraphs except in WYSIWYG editor.
  @if not $wysiwyg {
    &:empty {
      margin: 0 !important;
    }
  }
}
