// HTML Element: Ordered List

@use 'sass:math';
@use '00-config' as *;

ol {
  margin-block: 0 rem(gesso-spacing(2));
  margin-inline: 0;
  padding: 0;
  padding-inline-start: rem(gesso-spacing(3));

  ol,
  ul {
    margin-block-start: rem(math.div(gesso-spacing(2), 2));
  }
}
