{#
  STOP! This file is only here because Drupal gets fussy if a module defines
  a theme hook without a template file. If you are trying to make modifications,
  you almost certainly want the file in the theme.
#}

<svg{{ attributes }}>
  {{ icon }}
</svg>
