// Component: View

@use '00-config' as *;

.c-view {
  // Hides certain table cells on small screens if enabled within the settings
  // of a view using the table format.
  table.responsive-enabled {
    @include breakpoint-max(gesso-breakpoint(tablet), true) {
      th.priority-low,
      td.priority-low,
      th.priority-medium,
      td.priority-medium {
        display: none;
      }
    }
    @include breakpoint-max(gesso-breakpoint(tablet-lg), true) {
      th.priority-low,
      td.priority-low {
        display: none;
      }
    }
  }
}

.c-view__exposed {
  margin-block-end: rem(gesso-spacing(2));
}
