{#
/**
 * @file
 * Theme implementation for a sidebar layout.
 */
#}
{% if content %}
  {% include '@layouts/sidebar/sidebar.twig' with {
    'attributes': attributes,
    'sidebar_header_content': content.header ?: false,
    'sidebar_first_content': content.sidebar_first ?: false,
    'sidebar_main_content': content.main ?: false,
    'sidebar_second_content': content.sidebar_second ?: false,
  } %}
{% endif %}

{% set catch_cache = content|render %}
