{#
/**
 * @file
 * Theme implementation for a single page.
 */
#}
{% extends "page.html.twig" %}

{% block main_content %}
  {{ page.preface }}
  {{ page.content }}
  {{ page.postscript }}
{% endblock %}
