{#
/**
 * @file
 * Theme implementation for a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  {% embed '@layouts/region/region.twig' with {
    'attributes': attributes,
    'region_name': region|clean_class,
    'has_constrain': true,
  } %}

    {% block content %}
      {{ content }}
    {% endblock %}

  {% endembed %}
{% endif %}
